@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    padding: opx;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: lightpink;
}

.principal{
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
.bienvenida{
    border-radius: 3px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: aliceblue;
}

.bienvenida :nth-child(2){
    margin: 40px;
}

.bienvenida img{
    width: 80%;
}

.gogle{
    border-radius: 3px;
    margin: 4px;
    display: flex;
    align-items: center;
    
    display: flex;
    align-items: center;
}

.gogle img {
    width: 100%;
}

.cartita{
    border-radius: 3px;
    background-image: url(img/flowers.jpg);
    background-position: center;
    
    padding: 10%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    text-align: center;
}