/* Estilos para todo el css */
*{
    margin: 5px;
    padding: 1px;
    font-family: roboto;
    
}
/* Muestra el logo de yt condiv */
.imagen-logo {
  background-image: url(img/imagelarge.jpg);
  width: 10%; /* largo */
  min-width: 110px; /* establemos limite para evitar que colapse */
  max-height: 47px;
  
  height: 45px;
  background-size: cover;
  float: left;
  /* background-position: bottom ;  */
  /* background-repeat: repeat; */
}
/* formulario de busqueda */
.buscador-p {
    
  margin-top: 10px;
  margin-left: 40px;
  float: left;
}
/* img del buscador */
.imagen-buscador {
  margin-top: 17px;
  margin-left: 5px;
  background-image: url(img/lupa.png);
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  float: left;
  
  

}

/* .espaciadora{
  background-color: black;
  width: 100px;
  height: 20px;
} */

/* muestra la imagen del menu  */
.menu-lateral {
  margin-top: 5px;
  background-image: url(img/size.png);
  background-size: cover;
  float: left;
  width: 20%;
  min-width: 200px;
  height: 50px;
  background-position: top, right ;
  max-width: 200px;

}

.lista-gral{
  width: 100%;
max-height: 800px;
}

.menu-lateral
ul,li{
    display:inline;
    padding-left:3px;
    padding-right:3px;
    padding-inline: 20px ;
}


  .list{
    font-size: 15px;
  }
  
  div.seccion-videos {width: 300px;
  float: left;
  padding-left: 40px;

}

    div.seccion-videos img {
      width: 100%;
      height: auto;
      
    }
   

    div.titulo {
      padding: 10px;
     
    }

    div.autor{
      padding: 1px;
      color:gray
    }
  

 
  