/* *{
    font-size: 10px;
}

main{
    background-color: chocolate;
    max-width: 1200px;
}
/* evitar medidas absolutas ejemplo 30px 
body {
    background: rgb(238,174,202);
}

h1{
    background-color: cadetblue;
    font-size: 5em;
/*     height: 30px;
 }



img{
    width: 50%;
    float: left;
/* vh toma la altura 
vw toma la anchura sin respetar margenes de padres 
 
}

p{
    width: 50%;
    float: left;
}
 */


body{
    background-color:rgb(56, 55, 55);
}
header{
    background-color: slategray;
    max-width: 600px;

    }
}

img{
    width: 10%;
    float: left;
}

