@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto+Slab&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.god {
    background-color: #DA1212;
    margin: .1px;
    padding: .1px;
}


.superior{
    margin: .5%;
    display: flex;
    justify-content: center;
    

}

.principal{
    margin: 1%;
    background: rgb(17,60,252);
    background: linear-gradient(22deg, #113cfc 0%, rgba(17,60,252,1) 57%, rgba(25,52,152,1) 57%, rgba(25,52,152,1) 100%);
    max-width: 1500px;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
 

}




.header_superior {
    display: flex;
    justify-content: space-between;
}


.header_superior ul {
    list-style: none;
}

.logo {
    display: flex;
    justify-content: flex-start;
  
    padding: 1.5%;
}

.logo img {
    width: 200px;
    min-width: 70px;
}

.menu_lateral{
  width: 50%;
  display: flex;
  justify-content:space-between;
  align-items: center;

}

.menu_lateral a{
    width: 130px;
    background-color: #113cfc;
    padding: 12px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
}


.contenido{
    display: flex;
    
    

}

.left{
    display: flex;
    max-width: 40%;
    flex-direction: column;
    margin: 4%;
    text-align: center;
    text-justify: auto;
    font-family: 'Montserrat', sans-serif;


    
}
.left p{
    font-size: 20px;
    color: white;
}

#conta{
    background-color:yellow ;
}

.left a {
   text-decoration: none;
   color: white;
   background-color: #EBE645;
   margin-top: 100px;
   padding: 12px;
   
  border-radius: 30px;
}

 a:hover{
    background-color: gold;
    transition: background-color .5s;
 }

.right{

     margin:4%;
     width: 80%;
     display: flex;
     align-items: center;



}
.right img{
    
    border-radius: 10px;
  
    display: flex;
    justify-content: end;

    
}

.inferior{

   
  /* background-color: rgba(25,52,152,1);
  width: 95%;
  margin: 30px 15px;
 padding: .1px;
  border-radius: 10px;
  display: flex; */
  
  margin: .5%;
  display: flex;
  justify-content: center;
}

.contenido_inferior{
   
    background-color: rgba(25,52,152,1);

    margin: 1%;
    max-width: 1500px;
    border-radius: 15px;
    display:flex;
    
 
}

.post1 {
    margin: 5%;
    max-width: calc(100%/3);
    margin-top: 3%;
 
}


.arriba_section  {
    margin: 8%;
   display: flex;
   justify-content: center;
}

.arriba_section img {
    width: 150px;
    height: 150px;
   
    border-radius: 150px;
}

.abajo_section{
   
    background-color: #344CB7;
    border-radius: 10px;
    margin: 8%;
    padding:5%;
    color:white;
    font-family: 'Roboto Slab', serif;
    
}

.abajo_section a{
    margin: 3%;
    margin-top: 30px;
    margin-bottom: -20px;
   display: block;
   text-align: center;
  background-color: #EBE645;
   border-radius: 10px;
   text-decoration: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


@media screen and (max-width: 850px) {
    .header_superior{
        display: flex;
        flex-direction: column;
    }

    .logo{
        justify-content: end;
    }

    .menu_lateral{
        width: 100%;
    }

    
}


/* aoudaaaaaaa */

