body{
    background-color: dodgerblue;
}
.header{
    width: 80%;
    
    color: white;
    margin-top: 80px;
    margin-left: 80px;
    border-bottom: 5px solid white; 
 
}

.conteiner{
    width: 80%;
    background-color: violet;
    color: white;
    margin-left: 80px;  
}

.left{
    /* background-color:green ; */
    max-width: 50%;
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}

#img1{
    width: 50%;
    margin-left: 20%;
}

.right{
    margin-left: 10px;
    float: left;
    background: rgba(0, 0, 0, 0.37); 
     padding-left: 60px; 
     padding-right: 60px;
     padding-top: 150px;
    max-width: 40%;
    text-align: center;
    

}
 
.form input{
   width: 300px;
   padding: 5px;
   border-radius: 4px;
}

.boton {
    margin-left: 60px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    padding: 5px;
    background-color: darkorange;
    border-radius: 2px;
    text-decoration: none;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid black;
}

.boton a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.imagenes2 ul{
    list-style: none;
}
.imagenes2 img{
    margin: 8px;
    width: 40px;
    float: left;
}


