body{
    background-color: dodgerblue;
}
.header{
    width: 80%;
    
    color: white;
    margin-top: 80px;
    margin-left: 80px;
    border-bottom: 5px solid white; 
 
}

.conteiner{
    width: 80%;
    background-color: violet;
    color: white;
    margin-left: 80px;  
}

.left{
    /* background-color:green ; */
    max-width: 50%;
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}

#img1{
    width: 50%;
    margin-left: 20%;
}

.right{

    margin-left: 10px;
    margin-top: 2%;
    float: left;
    background: rgba(0, 0, 0, 0.37); 
     padding-left: 60px; 
     padding-right: 60px;
     padding-top: 4%;
    max-width: 40%;
    text-align: center;
    

}
 
.form input{
   width: 300px;
   padding: 5px;
   border-radius: 4px;
}

.boton {
    margin-left: 30px;
margin-top: 5%;
    width: 250px;
    height: 30px;
    padding: 5px;
   
}

.boton a{

    text-decoration: none;
    color: white;
    background-color: orange;
    border-radius: 8px;
    border: 2px solid black;
    padding: 8%;

    font-weight: bolder;
    font-size: 20px;
}

.imagenes2 span{
   float: left;
   margin-top: 20px;
   text-transform: uppercase;
   
}




.imagenes2 li{
    list-style: none;
    float: left;
    
    height: 50px; 

   
}

.fb li{
   
}
.imagenes2 img{
    margin: 8px;
    width: 40px;
    float: left;
}


